.filterContainer{
    display: flex;
    justify-content: space-between;
}

.prListContainer>h1{
    margin: 20px;
}

.filter{
    margin: 20px;
}

.filter>span{
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
}

.filter>select{
    margin-right: 20px;
    padding: 10px;
}

.productHcontainer{

}

.productHwrapper{
    padding: 50px;
    display: flex;
}

.pImgCont{
    flex: 1;
}

.pImgCont>img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
}
.pInfoCont{
    flex: 1;
    padding: 0 50px;
}

.pInfoCont>h1{
    font-weight: 200;
}

.pInfoCont>p{
    margin: 20px 0;
}

.pInfoCont>span{
    font-weight: 200;
    font-size: 40px;
}

.pFilterContainer{
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin: 30px 0;
}

.pFilter{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pFilter>h2{
    font-weight: 200;
    font-size: 20px;
}

.pFilter>select{
    margin-left: 10px;
    padding: 5px;
}

.filterColorR{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    margin: 0px 5px;
    cursor: pointer;
}

.filterColorBl {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: royalblue;
    margin: 0px 5px;
        cursor: pointer;
}

.filterColorB {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    margin: 0px 5px;
        cursor: pointer;
}

.addContainer{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addContainer>button{
    padding: 15px;
    border: 2px solid teal;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
}

.addContainer>button:hover{
    background-color: teal;
    color: white;
}

.amtContainer{
    display: flex;
    align-items: center;
    font-weight: 700;
}

.amtContainer>span{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid teal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
}

.registerContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255, 255, 255, 0.5)), url("https://img.freepik.com/free-vector/horizontal-isometric-fashion-clothes-flowchart-with-trendy-female-outfits-accessories-diagrams-editable-text-3d-vector-illustration_1284-72778.jpg?w=2000") center;
    background-size: cover;
}


.registerWrapper{
    width: 40%;
    padding: 20px;
    background-color: white;
}

.registerWrapper>h1{
    font-size: 24px;
    font-weight: 300;
}

.registerWrapper>form{
    display: flex;
    flex-wrap: wrap;
}

.registerWrapper>form>input{
    flex: 1;
    min-width: 40%;
    margin: 10px 20px 0px 0px;
    padding: 10px;
}

.registerWrapper>form>span{
    font-size: 12px;
    margin: 20px 0px;
}

.registerWrapper>form>button{
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
}

.registerWrapper>form>a{
    margin: 5px 0px;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    margin-right: 20px;
}

.cartWrapper{
    padding: 20px;
}

.cartWrapper>h1{
    font-weight: 300;
    text-align: center;
}

.cartTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
padding: 20px;
}

.topText{

}

.topText>span{
    text-decoration: underline;
    cursor: pointer;
    margin: 0 10px;
}

.cartTop>button{
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}

.sbtn{
    background-color: transparent;
}

.cbtn{
    background-color: black;
    border: none;
    color: white;
}

.cartBottom{
    display: flex;
    justify-content: space-between;
}

.cartInfo{
    flex: 3;
}

.cartSummary{
    flex: 1;
    border-radius: 10px;
    border: 0.5px solid lightgray;
    padding: 20px;
    /* height: 50vh; */
}

.cartProduct{
    display: flex;
    justify-content: space-between;
}

.cartProDetail{
    flex: 2;
    display: flex;
}

.cartProDetail>img{
    width: 200px;
}

.cartPriceDetail{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.details{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.cartColor{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}

.priceamttCont{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.priceamttCont>span{
    font-size: 24px;
    margin: 5px;
}

.cartPriceDetail>p{
    font-size: 30px;
    font-weight: 200;
}


.cartSummary>h1 {
    font-weight: 200;
}

.cartSummary>button{
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.summaryItem{
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.summaryItem>p{

}